################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aristotle/v17/.wsuo
/.gitignore
/.vs/Aristotle/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
